## `Libraries`

In [14]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib as pt
from pathlib import Path

## ðŸ“‚ Load Dataset Automatically
This cell dynamically locates the `test.csv` file inside the `datasets` folder,  
ensuring that **anyone who clones this repository can run it without modifying paths.** âœ…

In [17]:
script_dir = Path.cwd()
project_root = script_dir.parent  
csv_path = project_root / "datasets" / "test.csv"

if csv_path.exists():
    train_data = pd.read_csv(csv_path)
    print ("okay")
else:
    print(f"File not found: {csv_path}")
    
train_data.head()

okay

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

## `Data cleaning + visualization + EDA`

## `Features selection`

## `model selection`

## `deployment`