## `Libraries`

In [14]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib as pt
from pathlib import Path

## üìÇ Load Dataset Automatically
This cell dynamically locates the `test.csv and train.csv` file inside the `datasets` folder,  
ensuring that **anyone who clones this repository can run it without modifying paths.** ‚úÖ

In [ ]:
# Get the current working directory
script_dir = Path.cwd()

# Move one level up to the project root
project_root = script_dir.parent  

# Construct the paths for train and test datasets
train_csv_path = project_root / "datasets" / "train.csv"
test_csv_path = project_root / "datasets" / "test.csv"

# Load train data
if train_csv_path.exists():
    train_data = pd.read_csv(train_csv_path)
    print("‚úÖ Train data loaded successfully!")
else:
    print(f"‚ùå Train file not found: {train_csv_path}")

# Load test data
if test_csv_path.exists():
    test_data = pd.read_csv(test_csv_path)
    print("‚úÖ Test data loaded successfully!")
else:
    print(f"‚ùå Test file not found: {test_csv_path}")


train_data.head()

‚úÖ Train data loaded successfully!
‚úÖ Test data loaded successfully!

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [ ]:
test_data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

## `Data cleaning + visualization + EDA`

## `Features selection`

## `model selection`

## `deployment`